body {
    margin: 0;
}

#Container {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin-left: 20vw;
}

#Navbar {
    width: 325px;
    height: 100vh;
    background-color: #033624;
}

#Logo {
    position: relative;
    display: block;
    margin: auto;
    width: 150px;
    top: 50px;
}

#ButtonBox {
    position: relative;
    top: 125px;
    width: auto;
    height: auto;
}

.Button {
    width: 100%;
    height: 75px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #bfbfbf;
    font-size: 35px;
}

.Button:hover {
    color: white;
}

#Order {
    color: white;
}

#Show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 350px);
    height: 100vh;
}

#OrderBox {
    width: 750px;
    height: 650px;
    background-color: #dddddd;
    border-radius: 10px;
    overflow: scroll;
}

.eachOrder {
    position: relative;
    width: 700px;
    height: 125px;
    background-color: white;
    border-radius: 25px;
    margin: 0 auto;
    top: 25px;
}

.orderNum {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    left: 15px;
    top: 10px;
}

.orderContent {
    position: relative;
    font-weight: 650;
    font-size: 20px;
    left: 25px;
    top: 7.5px;
}

.orderPrice {
    position: relative;
    font-weight: bold;
    color: red;
    font-size: 25px;
    left: calc(100% - 125px);
    bottom: 10px;
}