<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
</head>
  <body>
    <div id="Container">
      <div id="ShadowBox"></div>

    <div id="Navbar">
      <img id="NavLogo" src="/images/nav_logo.png" />
      <button class="Sign" id="SignIn">Sign In</button>
      <button class="Sign" id="SignUp">Sign Up</button>
    </div>

    <div class="PhraseBox">
      <p class="PhraseText">
        Life wouldn't be worth living<br />
        if I worried over the future as well as the present.
      </p>
      <span class="AuthorFirst">윌리엄 섬머셋</span>
      <span class="AuthorLast">/ William Somerset</span>
    </div>

    <span id="Title">시간이 곧 돈이다.</span>

    <img id="BigLogo" src="/images/big_logo.png" />
    </div>
  </body>
</html>