<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigbang.bucktime.domain.reservation.dao.RezMapper">
    <insert id="createReservation" parameterType="com.bigbang.bucktime.domain.reservation.dto.InsertReservationData">
        INSERT INTO reservation (start_time, finish_time, desk_idx, user_mail) VALUES (#{startTime}, #{finishTime}, #{deskIdx}, #{userMail});
    </insert>

    <select id="showReservationList" parameterType="Integer" resultMap="reservationEntity">
        SELECT * FROM reservation WHERE desk_idx = #{deskIdx};
    </select>

    <select id="getFinishTimeByDeskIdx" parameterType="Integer" resultType="String">
        SELECT finish_time FROM reservation WHERE desk_idx = #{deskIdx} ORDER BY rez_idx DESC LIMIT 1;
    </select>

    <update id="extensionFinishTime">
        UPDATE reservation SET finish_time = #{finishTime} WHERE desk_idx = #{deskIdx};
    </update>

    <select id="showReservationByUserMail" parameterType="String" resultMap="reservationEntity">
        SELECT * FROM reservation WHERE user_mail = #{userMail} AND finish_time > NOW() ORDER BY rez_idx DESC LIMIT 1;
    </select>

    <resultMap id="reservationEntity" type="com.bigbang.bucktime.domain.reservation.dto.entity.ReservationEntity">
        <id column="rez_idx" property="rezIdx"/>
        <result column="start_time" property="startTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="user_mail" property="userMail"/>
        <result column="desk_idx" property="deskIdx"/>
    </resultMap>
</mapper>